body {
    margin: 0px;
}

.card {
    background-color: #fffefc;
    display: flex;
}

.Description {
    flex: 1;
    align-content: center;
    padding: 30px 30px 30px 30px;
}


h2 {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 2rem;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    margin-top: -10px;
}

button {
    background-color: #c8bcb4;
    border: 1px solid #c8bcb4;
    color: #fffefc;
    padding: 5px 15px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.images {
    flex: 1;
    display: flex;
}

@media screen and (max-width:600px) {
    .card {
        flex-direction: column-reverse;
    }

    .card .Description,
    .card .images {
        max-width: 100%;
    }

    p {
        font-size: 0.6rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}