#setbg {
    background-image: url("images/profile.png");
    background-size: contain;
    /*cover: image top    contain: repeat */
}

button.subscribe {
    background-color: rgb(172, 4, 4);
    color: white;
    border: 1px solid rgb(172, 4, 4);

}

button.join {
    background-color: #E2E2E2;
    color: #122E67;
    border: 1px solid #122E67;

}


button.tweet {
    background-color: #1988D2;
    color: #D6E0E2;
    font-weight: bold;
    border: 1px solid #1988D2;
}


.button-style {
    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#button {
    font-size: 20px;
}

#heading {
    color: yellow;
}