body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #fff4dc;
    padding: 10px;
}

.nav1 {
    display: flex;
    gap: 12px;
    margin: 2px;
}

.nav1a {
    display: flex;
}

.nav1a div {
    padding: 10px;
}

.nav2 {
    display: flex;
    gap: 3px;
    padding-top: 2px;
}

.nav2a {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.log-in {
    display: flex;
    gap: 10px;
}

.nav2 button {
    background-color: black;
    color: white;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    font-weight: lighter;
    margin: 5px;
}