body {
    margin: 0px;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

header {
    background-color: #302c44;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.nav1 {
    display: flex;
    gap: 8px;
}

#name {
    font-size: 30;
    font-weight: 300;
    padding-bottom: 6px;
}

.nav2 {
    display: flex;
    gap: 5px;
}

.nav2a {
    display: flex;
    gap: 20px;
}

.log-in {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-left: 30px;
}

.getintouch {
    display: flex;
    gap: 9px;
    padding: 10px;
}